<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOMZY</title>
    <link rel="icon" href="/public/img/logo.png" type="logo.png" />
    <link href="/src/output.css" rel="stylesheet" />
  </head>

  <body class="min-h-screen flex flex-col">
    <!-- 헤더 -->
    <div id="app-header"></div>

    <!-- 메인 -->
    <main class="flex-1 p-4 bg-white">본문 내용</main>

    <!-- 푸터 -->
    <div id="app-footer"></div>

    <script src="/src/js/sidebar.js"></script>
    <script src="/src/js/main.js"></script>
  </body>
</html>
