<header>
  <div class="header-left">
    <button class="none-login-btn">
      <a href="login.html" class="header-btn">로그인</a>
    </button>
    <span class="header-dash"> | </span>
    <button class="none-login-btn">
      <a href="sign-up.html" class="header-btn">회원가입</a>
    </button>
  </div>
  <div class="header-center">
    <div>NOMZY</div>
  </div>
  <div class="header-right"></div>
</header>

<div class="sidebar-overlay" onclick="closeSidebar()" id="sidebarOverlay"></div>

<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h3 class="menu-mainName">전체 메뉴</h3>
    <button class="sidebar-close" onclick="closeSidebar()">✕</button>
  </div>

  <div class="sidebar-main">
    <a href="/templates/mainpage.html" class="menu-mainbtn menu-text">홈</a>
    <a href="#" class="menu-mainbtn menu-text">메뉴종류</a>
    <a href="#" class="menu-mainbtn menu-text">단체모임</a>
    <a href="#" class="menu-mainbtn menu-text">소모임</a>
    <a href="#" class="menu-mainbtn menu-text">성별</a>
    <a href="#" class="menu-mainbtn menu-text">나이</a>
    <a href="#" class="menu-mainbtn menu-text">지역별 추천</a>
    <a href="#" class="menu-mainbtn menu-text">별점랭킹</a>
    <a href="#" class="menu-mainbtn menu-text">데이트식당추천</a>
    <a href="#" class="menu-mainbtn menu-text">비건</a>
    <a href="#" class="menu-mainbtn menu-text">댓글후기</a>
    <a href="#" class="menu-mainbtn menu-text">홈페이지 소개</a>
  </div>

  <div class="sidebar-footer">
    <button class="logout-button" onclick="handleLogout()">로그아웃</button>
  </div>
</div>
