<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOMSY : mypage</title>
    <link rel="stylesheet" href="../static/css/myPage.css">
    <script type="module" src="../static/js/myPage.js"></script>
</head>
<body>
<!--  -->
    <div class="main-container">
        <!--  -->
        <div class="button-container">
            <button class="my-button" type="button">홈</button>
            <button class="my-button" type="button">계정 정보</button>
        </div>
        <!--  -->
        <div class="center-container">
            <div class="first-box">
                <h2>이름</h2>
                <span>이메일</span>
            </div>

            <div class="second-box">
                <h3>계정 정보</h3>
                <p>이메일</p>
                <p>전화번호</p>
                <p>이름</p>
                <p>닉네임</p>
            </div>

            <div class="third-box">
                <h3>계정 보안</h3>
                <a href="/">비밀번호 변경</a>
                <a href="">닉네임 변경</a>
            </div>
        </div>


<!--  -->
    </div>
<!--  -->
</body>
</html>